body {
  margin: 0;
  font-family: 'Century Gothic';
  background: url("/frontend/images/панельBG.png") center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title{
  font-size: 30px;
  font-family: 'Cormorant Infant';
  font-weight: 700;
  padding-left: 200px;
  text-align: center;
  width: 100%;
}

.conteiner{
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.editor-box {
  width: 1000px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  padding: 30px 70px;
  border-radius: 8px;
}

.block1{
  width: 80%;
}

.block2{
  width: 100%;
}

.form-buttons {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  gap: 30px;
}

.delete-btn {
  background: #ffffff;
  border: 2px solid #ad0304;
  width: 150px;
  height: 41px;
  font-size: 16px;
  font-family: 'Century Gothic';
  font-weight: 700;
  cursor: pointer;
  color: #ad0304;
  border-radius: 4px;
  display: none;
  margin-top: 30px;
}

.topPanel{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.top-buttons {
  display: flex;
  gap: 20px;
}

#mode-add{
  display: none;
}
.mode-btn{
  background: none;
  border: none;
}

.mode-btn img {
  height: 37px;
  width: 37px;
}

label {
  display: block;
  margin-top: 15px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 2px solid #5D474E;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Century Gothic';
}

textarea {
  height: 88%;;
  resize: none;
}

#images-input{
  width: 80px;
  height: 80px;
  background: #ffffff;
}

button.submit {
  background: #378511;
  border: none;
  padding: 10px 40px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 30px;
  font-family: 'Century Gothic';
  font-weight: 700;
}

.tag {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
}

.toast {
  position: fixed;
  top: 5%;
  left: 45%;
  background: #35a933;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}

.toast.show {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;

  text-align: center;
  position: relative;

  min-width: 280px;
}

.modal-text {
  font-size: 18px;
  margin-bottom: 30px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.btn-yes {
  background: #333;
  color: white;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  cursor: pointer;
  width: 90px;
}

.btn-no {
  background: #ddd;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  cursor: pointer;
  width: 90px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 18px;
}

.selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
}

.tag span {
  margin-left: 5px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  left: 70px;
  width: 406px;
  background: white;
  border: 2px solid #5D474E;
  margin-top: 5px;
  border-radius: 5px;
  max-height: 165px;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

.dropdown div {
  padding: 5px;
  cursor: pointer;
}

.dropdown div:hover {
  background: #eee;
}

.upload-grid {
  display: grid;
  grid-template-columns: repeat(6, 60px);
  gap: 10px;
  margin-top: 5px;
  align-items: start;
}

/* скрытый input */
#images-input {
  display: none;
}

.upload-box {
  width: 58px;
  height: 58px;
  border: 2px dashed #5D474E;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255,255,255,0.7);
  transition: 0.2s;
  margin-top: 0px;
}

.upload-icon {
  width: 40px;
  height: 40px;
  opacity: 0.7;
}

#image-preview {
  display: contents;
}

#image-preview img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}
.icon-picker {
  display: flex;
  gap: 11px;
  margin-top: 10px;
}

.icon-picker img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 5px;
}

.icon-picker img.active {
  border: 2px solid #5D474E;
  background: #eee;
}

.tooltip {
  position: fixed;
  background: rgba(93,71,78,0.85);
  color: white;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  max-width: 220px;
  pointer-events: none;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.2s ease;
  white-space: pre-line;
}