    html,
    body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Century Gothic";
      background: url("/frontend/images/графBG.png") center/cover no-repeat;
      overflow: hidden;
    }

    #graph {
      width: 100%;
      height: 100%;
      position: relative;
    }

    #info {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 600px;
      max-height: calc(100vh - 100px);
      overflow-y: auto;
      background: #ffffff;
      border-radius: 10px;
      padding: 50px;
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 100;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    #info h2 {
      margin-top: 0;
      font-size: 30px;
      font-family: 'Cormorant Infant';
      font-weight: 700;
    }

    #info p {
      font-size: 14px;
      line-height: 1.4;
      white-space: pre-line;
    }

    .info-header {
      text-align: center;
      margin-bottom: 10px;
    }

    .image-gallery {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0px;
    }

    .gallery-img {
      width: 100%;
      height: 90px;
      object-fit: cover;
    }

    .image-wrapper {
      width: 100%;
      height: 120px;
      overflow: hidden;
      background: #ddd;
    }

    .image-wrapper img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    #controls {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 220px;
      background: white;
      border-radius: 10px;
      padding: 12px;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
      font-size: 14px;
      z-index: 20;
    }

    #controls h3 {
      margin: 0 0 8px 0;
      font-size: 16px;
    }

    #category-filters label {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 4px;
      cursor: pointer;
    }

    .search-wrapper {
      position: relative;
    }

    #search {
      width: 80%;
      padding: 6px 26px 6px 8px;
      border-radius: 6px;
      border: 1px solid #ccc;
    }

    #clear-search {
      position: absolute;
      right: 15px;
      top: 74%;
      transform: translateY(-50%);
      cursor: pointer;
      font-size: 14px;
      color: #999;
      display: none;
    }

    #clear-search:hover {
      color: #000;
    }

    .tabs {
      display: flex;
      gap: 10px;
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .tab {
      padding: 6px 20px;
      border-radius: 500px;
      border: 2px solid #ccc;
      background: #f4f4f4;
      cursor: pointer;
      font-size: 15px;
      font-family: 'Century Gothic';
    }

    .tab.active {
      background: #ffffff;
      border: 2px solid #5D474E;
    }

    .tab-content {
      margin-top: 10px;
    }

    .tab-pane {
      display: none;
    }

    .tab-pane.active {
      display: block;
    }

    .category {
      color: #ff8a00;
      font-size: 14px;
      margin-bottom: 10px;
    }

    .related-list li {
      margin-bottom: 0px;
      cursor: pointer;
    }

    .related-list {
      list-style: inside;
      padding: 0;
      margin: 0;
    }

    .related-item {
      padding: 6px 8px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.2s;
    }

    .related-item:hover {
      background: #f1f1f1;
    }

    #controls {
      position: absolute;
      top: 25px;
      left: 35px;
      right: auto;
      width: auto;
      background: transparent;
      box-shadow: none;
      padding: 0;
    }

    .layer {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .layer label {
      margin-left: 7px;
      font-size: 15px;
    }

    .top-bar {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .search-wrapper {
      position: relative;
    }

    #search {
      width: 230px;
      padding: 8px 28px 8px 10px;
      border-radius: 8px;
      border: 1px solid #5D474E;
      background: white;
    }

    #clear-search {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }

    .filter-dropdown {
      position: relative;
    }

    #filter-toggle {
      min-width: 268px;
      padding: 8px 30px 8px 10px;
      /* справа место под стрелку */
      background: white;
      border-radius: 8px;
      border: 1px solid #5D474E;
      cursor: pointer;
      height: 15px;
      display: flex;
      align-items: center;
      position: relative;
    }

    #filter-toggle::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #5D474E;
    }

    .dropdown-menu {
      position: absolute;
      top: 110%;
      left: 0;
      background: white;
      border-radius: 8px;
      border: 1px solid #5D474E;
      padding: 10px;
      display: none;
      min-width: 286px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      z-index: 100;
    }

    .filter-dropdown.open #filter-toggle::after {
      border-top: none;
      border-bottom: 8px solid #5D474E;
    }

    .dropdown-menu label {
      display: flex;
      gap: 6px;
      margin-bottom: 6px;
      cursor: pointer;
    }